<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azurefunctions2021.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7dba5ff1-ccfc-4c50-b787-14f1c757f4dc/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/AzureFunctions2021</ResourceId>
    <UserName>$AzureFunctions2021</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunctions2021.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>